<?php


$def[".igk-bge-game-surface"]="{sys:fit} min-height:300px; min-width:300px;  background-color:cornflowerblue";
$def[".igk-bge-game-surface > canvas"] = "{sys:fit, dispib} background-color:cornflowerblue";